@use "../../global" as *;
@use "../../partials" as *;

button,
[type="button"],
[type="reset"],
[type="submit"] {
  @include transparent-button;
  cursor: pointer;
  opacity: 1;
  margin: 0;
  padding: 0;
  @include transitionsall;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.btn-hamburger {
  @include setBgColor($white, $bodytext);
  @include border(solid, 1, $headerborder);
  @include radius(4);
  @include square(48);
  @include flex-center;
  overflow: hidden;
  
  i {
    color: inherit;
    font-size: size(24);
  }
  
  @include hover {
    @include setBgColor($white, $primary);
    border-color: $primary;
  }
}

.btn-login {
  @include setBgColor($primary, $white);
  @include radius(4);
  @include flex-center;
  font-weight: 600;
  text-align: center;
  padding: size(8) size(16);
  @include transitionsall;

  @include breakpoint(mobile768) {
    padding: size(13.5) size(40);
  }
  
  @include hover {
    @include setBgColor($hoverbg, $white);
  }
}

.btn-import {
  @include setBgColor($white, $blacktext);
  @include radius(4);
  @include flex-center;
  font-weight: 600;
  text-align: center;
  padding: size(8) size(16);
  @include transitionsall;

  @include breakpoint(mobile768) {
    padding: size(13.5) size(40);
  }
  
  @include hover {
    @include setBgColor($primary, $white);
  }
}