@use '../../global' as *;
@use '../../partials' as *;

.desktoplist {
  @include list-horizontal;

  &-item {
    cursor: pointer;
    padding-inline: size(12);
    height: size(100);
    @include flex-center;

    @include breakpoint(desktop1400) {
      padding-inline: size(18);
    }
  }

  &-link {
    color: $blacktext;
    font-weight: 600;
    @include transitionscolor;

    &:hover:not(.active) {
      color: $primary;
    }

    &.active {
      color: $primary;
    }
  }

  .desktopdropdown {
    position: relative;
    @include flex-center;

    &-menu {
      background: $white;
      box-shadow: $dropdownshadow;
      position: absolute;
      top: 100%;
      left: 0;
      min-width: size(200);
      max-width: size(250);
      display: none;
      @extend %animation;
      @extend %slideUpIn;
    }
    
    @include hover {
      .desktopdropdown-menu {
        display: block;
      }
    }
  }
}

.dropdownlist {
  @include list-vertical;
  @include border(solid, 1, $headerborder);
  border-top: 0;
  background: $white;

  &-item {
    &:last-of-type {
      .dropdownlist-link {
        border-bottom: 0;
      }
    }
  }

  &-link {
    color: $blacktext;
    font-size: size(14);
    font-weight: 600;
    @include flex;
    @include w100;
    padding: size(12) size(16);
    @include border-single(bottom, solid, 1, $headerborder);
    @include transitionscolor;

    @include hover {
      color: $primary;
    }
  }
}

.authlist {
  @include list-horizontal;

  &-item {
    @include breakpoint(tab992) {
      padding-inline: size(12);
    }
  }

  &-link {
    color: $blacktext;
    font-weight: 600;
    @include transitionscolor;

    &:hover:not(.active) {
      color: $primary;
    }

    &.active {
      color: $primary;
    }
  }
}

.mobilelist {
  @include list-vertical;
  @include border-single(bottom, solid, 1, $headerborder);


  &-item {
    &:last-of-type {
      .mobilelist-link {
        border-bottom: 0;
      }
    }
  }

  .accordion {
    border: none;
    background: transparent;
    
    &-item {
      background: transparent;
      border: none;

      &:first-of-type,
      &:last-of-type {
        @include radius(0);

        .accordion-button {
          @include radius(0);
        }
      }
    }

    &-header {
      background: transparent;
      @include flex-center-vert;
      position: relative;

      .mobilelist-link {
        position: relative;
        z-index: 10;
        height: size(46);
      }
    }

    &-button {
      background: transparent;
      @include flex-end;
      position: absolute;
      @include square(46);
      width: 50%;
      left: auto;
      right: 0;
      z-index: 100;
      padding-right: size(16);

      &::after {
        margin-left: 0;
      }

      &:not(.collapsed) {
        background-color: transparent;
        box-shadow: none;
      }
    }
  }

  &-link {
    background: transparent;
    color: $blacktext;
    font-size: size(14);
    font-weight: 600;
    @include flex;
    @include w100;
    padding: size(12) size(16);
    @include border-single(bottom, solid, 1, $headerborder);
    @include transitionscolor;

    &:hover:not(.active) {
      color: $primary;
    }
    
    &.active {
      color: $primary;
    }
  }
}

.sociallist {
  @include list-horizontal;
  gap: size(16);

  &-link {
    @include square(24);
    @include flex-center;

    @include hover {
      svg {
        path {
          stroke: $primary;
        }
      }
    }
  }
}

.footerlist {
  @include list-vertical;
  gap: size(8);

  &-link {
    color: $blacktext;
    font-weight: 300;
    letter-spacing: size(0.16);
    @include transitionscolor;
    
    @include hover {
      color: $primary;
    }
  }
}