@use '../../global' as *;
@use '../../partials' as *;

.desktoplist {
  @include list-horizontal;

  &-item {
    padding-inline: size(12);

    @include breakpoint(desktop1400) {
      padding-inline: size(18);
    }
  }

  &-link {
    color: $blacktext;
    font-weight: 600;
    @include transitionscolor;

    &:hover:not(.active) {
      color: $primary;
    }

    &.active {
      color: $primary;
    }
  }
}

.authlist {
  @include list-horizontal;

  &-item {
    cursor: pointer;
    @include flex-center;
    height: size(64);

    @include breakpoint(tab992) {
      padding-inline: size(12);
      height: size(100);
    }

    @include hover {
      .authlist-link {
        .text {
          color: $primary;
        }
  
        .icon {
          svg {
            @include rotateX(180);

            path {
              fill: $primary;
            }
          }
        }
      }

      .authlist-linkcircle {
        @include setBgColor($primary, $white);
        border-color: $primary;
      }
    }
  }

  .desktopdropdown {
    position: relative;
    @include flex-center;

    &-menu {
      background: $white;
      box-shadow: $dropdownshadow;
      position: absolute;
      top: 100%;
      right: 0;
      min-width: size(140);
      max-width: size(200);
      display: none;
      @extend %animation;
      @extend %slideUpIn;
    }
    
    @include hover {
      .desktopdropdown-menu {
        display: block;
      }
    }
  }

  &-link {
    @include flex-center-vert;
    @include transitionsall;

    .text {
      color: $blacktext;
      font-weight: 600;
    }

    .icon {
      @include square(18);
      @include flex-center;
      overflow: hidden;

      svg {
        @include transitiontransform;
      }
    }
  }

  &-linkcircle {
    @include setBgColor($white, $sectionbgdark);
    @include border(solid, 1, $inputborder);
    @include circle;
    @include square(48);
    @include flex-center;
    font-family: $clashdisplay;
    font-weight: 600;
    text-align: center;
    letter-spacing: size(1);
    @include transitionsall;
  }
}

.mobilelist {
  @include list-vertical;
  @include border-single(bottom, solid, 1, $headerborder);

  &-item {
    &:last-of-type {
      .mobilelist-link {
        border-bottom: 0;
      }
    }
  }

  &-link {
    background: transparent;
    color: $blacktext;
    font-size: size(14);
    font-weight: 600;
    @include flex;
    @include w100;
    padding: size(12) size(16);
    @include border-single(bottom, solid, 1, $headerborder);
    @include transitionscolor;

    &:hover:not(.active) {
      color: $primary;
    }
    
    &.active {
      color: $primary;
    }
  }
}

.sociallist {
  @include list-horizontal;
  gap: size(16);
  justify-content: center;

  @include breakpoint(tab992) {
    justify-content: flex-start;
  }

  &-link {
    @include square(24);
    @include flex-center;

    @include hover {
      svg {
        path {
          stroke: $primary;
        }
      }
    }
  }
}

.footerlist {
  @include list-vertical;
  gap: size(8);

  &-link {
    color: $blacktext;
    font-weight: 300;
    letter-spacing: size(0.16);
    @include transitionscolor;

    @include hover {
      color: $primary;
    }
  }
}

.contactlist {
  @include list-horizontal;
  gap: size(4);

  &-link {
    color: $blacktext;
    font-weight: 300;
    @include transitionscolor;

    @include hover {
      color: $primary;
    }
  }
}

.tracklist {
  @include list-vertical;
  align-items: center;
  width: size(300);
  margin-inline: auto;
  gap: size(48);

  @include breakpoint(tab992) {
    flex-direction: row;
    margin: 0;
    @include w100;
  }

  &-item {
    @include flex-center-vert;
    gap: size(16);
    @include w100;

    @include breakpoint(tab992) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .trackicon {
      background: $trackbg;
      @include square(60);
      @include circle;
      @include flex-center;
      position: relative;
      z-index: 10;

      .icon {
        @include square(24);
        @include flex-center;
        overflow: hidden;
      }
      
      &::before {
        content: '';
        position: absolute;
        top: size(-48);
        left: 50%;
        @include translateX(-50%);
        width: size(2);
        height: 82%;
        @include border(dashed, 1, $trackborder);
        z-index: 1;

        @include breakpoint(tab992) {
          height: size(2);
          top: 50%;
          @include translateY(-50%);
          right: auto;
          width: 100%;
          left: -100%;
        }

        @include breakpoint(desktop1024) {
          width: 120%;
          left: -120%;
        }

        @include breakpoint(desktop1100) {
          width: 140%;
          left: -140%;
        }

        @include breakpoint(desktop1200) {
          width: 170%;
          left: -170%;
        }

        @include breakpoint(desktop1600) {
          width: 260%;
          left: -260%;
        }

        @include breakpoint(desktop1800) {
          width: 280%;
          left: -280%;
        }
      }
    }

    .tracktitle {
      width: calc(100% - size(76));
      @include flex-center;

      @include breakpoint(tab992) {
        @include w100;
        min-height: size(36);
      }
      
      .title {
        font-size: size(12);
        text-align: center;
        @include line-clamp;

        @include breakpoint(desktop1600) {
          font-size: size(16);
        }
      }
    }

    &.active {
      .trackicon {
        background: $primary;

        .icon {
          path {
            stroke: $white;
          }
        }
        
        &::before {
          border-color: $primary;
        }
      }
    }

    &:first-child {
      .trackicon {
        &::before {
          top: size(0);
          width: size(0);
          height: 0;
          display: none;
        }
      }
    }
  }
}