@use "../../global" as *;
@use "../../partials" as *;

.cardservice {
  @include border(solid, 1, $headerborder);
  @include radius(4);
  @include flex-column;
  gap: size(24);
  padding: size(24);
  @include wh100;

  @include breakpoint(desktop1600) {
    padding: size(42) size(48);
    gap: size(48);
  }

  &-header {
    @include flex-center-vert;
    gap: size(20);

    .serviceicon {
      @include square(48);
      @include flex-center;
      overflow: hidden;
    }

    .servicetitle {
      color: $blacktext;
      font-size: size(24);

      @include breakpoint(desktop1600) {
        font-size: size(32);
      }
    }
  }

  &-body {
    @include flex-column;
    gap: size(24);

    @include breakpoint(tab992) {
      gap: size(48);
    }

    .icon {
      @include square(24);
      @include flex-center;
      overflow: hidden;
      @include transitiontransform;
    }

    .servicetext {
      color: $blacktext;
      font-weight: 300;
    }
  }
}

.service-1 {
  @include hover {
    background: $primary;

    .cardservice-header {
      .serviceicon {
        svg {
          path {
            fill: $white;
          }
        }
      }
      
      .servicetitle {
        color: $white;
      }
    }

    .cardservice-body {
      .servicetext {
        color: $white;
      }

      .icon {
        @include translateX(size(10));

        svg {
          path {
            stroke: $white;
          }
        }
      }
    }
  }
}

.service-2,
.service-3,
.service-4 {
  @include hover {
    background: $primary;

    .cardservice-header {
      .serviceicon {
        svg {
          path {
            stroke: $white;
          }
        }
      }
      
      .servicetitle {
        color: $white;
      }
    }

    .cardservice-body {
      .servicetext {
        color: $white;
      }

      .icon {
        @include translateX(size(10));

        svg {
          path {
            stroke: $white;
          }
        }
      }
    }
  }
}

.card-counter {
  @include flex-center-column;
  gap: size(24);
  text-align: center;

  &-header {
    @include flex-center;

    .countnumber,
    .icon {
      font-weight: 600;
    }
  }

  &-body {
    .countertitle {
      color: $bodytext;
      font-size: size(24);
      font-style: normal;
      font-weight: 300;
    }
  }
}

.cardvalue {
  @include border(solid, 1, $headerborder);
  @include radius(4);
  @include flex-column;
  gap: size(24);
  padding: size(24);
  
  @include breakpoint(tab992) {
    gap: size(40);
    padding: size(48);
  }

  .valueicon {
    @include square(56);
    @include flex-center;
    overflow: hidden;
  }

  .info {
    p {
      color: $blacktext;
      font-weight: 300;
    }
  }
}

.cardchoose {
  background: $white;
  @include border(solid, 1, $headerborder);
  @include radius(4);
  cursor: pointer;
  @include flex-column;
  gap: size(20);
  padding: size(30) size(24) size(48);
  @include wh100;
  @include transitionsall;
  
  .chooseicon {
    @include square(50);
    @include circle;
    @include flex-center;
    padding: size(13);
  }

  .icon-1 {
    background: $icon-1-bg;
  }

  .icon-2 {
    background: $icon-2-bg;
  }

  .icon-3 {
    background: $icon-3-bg;
  }

  .icon-4 {
    background: $icon-4-bg;
  }

  .icon-5 {
    background: $icon-5-bg;
  }

  .icon-6 {
    background: $icon-6-bg;
  }

  h5 {
    max-height: size(48);
    @include flex-center-vert;
    @include line-clamp;
  }

  p {
    font-size: size(12);
    font-style: normal;
    font-weight: 300;
  }
}

.cardchoose-1 {
  @include hover {
    background: $chossehover-1;
    border-color: $waiting;
  }
}

.cardchoose-2 {
  @include hover {
    background: $chossehover-2;
    border-color: $chooseborder-1;
  }
}

.cardchoose-3 {
  @include hover {
    background: $chossehover-3;
    border-color: $chooseborder-2;
  }
}

.cardchoose-4 {
  @include hover {
    background: $chossehover-4;
    border-color: $chooseborder-3;
  }
}

.cardchoose-5 {
  @include hover {
    background: $chossehover-5;
    border-color: $chooseborder-4;
  }
}

.cardchoose-6 {
  @include hover {
    background: $chossehover-6;
    border-color: $chooseborder-5;
  }
}

.cardpackage {
  background: $white;
  @include border(solid, 1, $headerborder);
  @include radius(4);
  @include flex-column;
  gap: size(24);
  padding: size(24) size(30) size(30);
  @include wh100;

  &-header {
    @include flex-column;
    gap: size(20);

    .icon {
      @include square(50);
      @include circle;
      @include flex-center;
      padding: size(13);
    }

    .title {
      color: $blacktext;
      font-weight: 600;
    }
  }

  &-body {
    p {
      font-size: size(12);
      font-style: normal;
      font-weight: 300;

      @include breakpoint(desktop1400) {
        font-size: size(14);
      }
    }
  }

  &.package-1 {
    .cardpackage-header {
      .icon {
        background: $icon-4-bg;
      }
    }
  }

  &.package-2 {
    .cardpackage-header {
      .icon {
        background: $icon-7-bg;
      }
    }
  }

  &.package-3 {
    .cardpackage-header {
      .icon {
        background: $icon-8-bg;
      }
    }
  }
}

.cardreview {
  background: $white;
  @include border(solid, 1, $headerborder);
  @include radius(4);
  @include flex-column;
  gap: size(24);
  padding: size(24) size(30) size(30);
  @include wh100;


  &-header {
    @include flex-column;
    gap: size(20);

    h5 {
      color: $blacktext;
      font-size: size(20);
      font-weight: 600;
      @include line-clamp;
    }

    p {
      font-size: size(14);
      font-style: normal;
      font-weight: 300;

      @include breakpoint(desktop1400) {
        font-size: size(16);
      }
    }
  }

  &-body {
    @include flex-center-vert;
    gap: size(10);

    .review-thumbnail {
      @include square(48);
      @include circle;
      @include flex-center;
      overflow: hidden;

      img {
        @include wh100;
      }
    }

    .reviewer {
      @include flex-column;
      gap: size(4);

      h5 {
        color: $blacktext;
        font-size: size(16);
        font-weight: 500;
      }

      p {
        color: $tableborder;
        font-size: size(12);
        font-style: normal;
        font-weight: 300;
      }
    }
  }
}