$time: 350ms;

// DEFAULT COLORS
$white: hsl(0, 0%, 100%); //#ffffff
$black: hsl(0, 0%, 0%); //#000000


// THEME-COLORS
$primary: hsl(217, 100%, 56%); //#2074FF


// BACKGROUND-COLORS
$sectionbg: hsl(213, 100%, 98%); //#F4F9FF


// TEXT-COLORS
$bodytext: hsl(0, 0%, 19%); //#303030
$blacktext: hsl(0, 0%, 11%); //#1B1B1B
$placeholdertext: hsl(208, 9%, 59%); //#8C969F


$danger: hsl(354, 70%, 54%); //#dc3545
$success: hsl(152, 69%, 31%); //#198754

// BORDER-COLORS
$headerborder: hsl(210, 35%, 93%); //#E8EEF4
$inputborder: hsl(207, 23%, 92%); //#E7ECF0


// SHADOWS


// BOX-SHADOWS
