$time: 350ms;

// DEFAULT COLORS
$white: hsl(0, 0%, 100%); //#ffffff
$black: hsl(0, 0%, 0%); //#000000


// THEME-COLORS
$primary: hsl(217, 100%, 56%); //#2074FF


// BACKGROUND-COLORS
$sectionbg: hsl(213, 100%, 98%); //#F4F9FF
$hoverbg: hsl(217, 100%, 47%); //#005AEF
$sectionbgdark: hsl(240, 30%, 8%); //#0F0F1C

// TEXT-COLORS
$bodytext: hsl(0, 0%, 19%); //#303030
$blacktext: hsl(0, 0%, 11%); //#1B1B1B
$placeholdertext: hsl(208, 9%, 59%); //#8C969F


$danger: hsl(354, 70%, 54%); //#dc3545
$success: hsl(152, 69%, 31%); //#198754

// BORDER-COLORS
$headerborder: hsl(210, 35%, 93%); //#E8EEF4
$inputborder: hsl(207, 23%, 92%); //#E7ECF0


// SHADOWS
$dropshad: rgba(17, 12, 46, 0.15);
$shade-1: rgba(30, 30, 30, 0.05);


// BOX-SHADOWS
$shadow-1: .25rem .25rem 0rem 0rem $shade-1;
$dropdownshadow: 0rem 3rem 6.25rem 0rem $shade-1;