@use "../global" as *;
@use "../partials" as *;

.homebanner {
  background: $sectionbg;
  padding-bottom: size(48);

  .details {
    padding: size(48) size(0) size(0);
    @include flex-column;
    gap: size(24);

    @include breakpoint(desktop1200) {
      gap: size(48);
    }
    
    .icon {
      width: size(68);
      height: size(41);
      @include flex-center;
      overflow: hidden;
    }
  }
}

.homepackages {
  padding: size(48) size(0);
  
  @include breakpoint(tab992) {
    padding: size(80) size(0);
  }

  .packgedetail {
    @include flex-column;
    gap: size(48);
  
    @include breakpoint(desktop1400) {
      gap: size(80);
    }
  }
}

.deliveries {
  padding: size(48) size(0);
  
  @include breakpoint(tab992) {
    padding: size(80) size(0);
  }

  @include breakpoint(desktop1600) {
    padding: size(124) size(0);
  }

  .deliveries-detail {
    @include flex-column;
    gap: size(24);
    margin-bottom: size(48);

    @include breakpoint(tab992) {
      margin-bottom: size(0);
    }

    @include breakpoint(desktop1200) {
      gap: size(48);
    }
    
    ul {
      @include list-vertical;
      gap: size(12);

      li {
        @include flex-center-vert;
        gap: size(8);

        .icon {
          @include square(24);
          @include flex-center;
          overflow: hidden;
        }
      }
    }
  }

  &-thumbnail {
    @include w100;
    min-height: size(214);
    max-height: size(535);
    position: relative;

    @include breakpoint(mobile768) {
      min-height: size(350);
    }

    @include breakpoint(tab992) {
      @include flex-center;
    }

    @include breakpoint(desktop1600) {
      min-height: size(535);
    }

    img {
      @include wh100;
      position: relative;
      z-index: 100;
    }

    .deliveriesicon {
      display: none;
      position: absolute;
      left: size(-293);
      bottom: size(0);
      width: size(637);
      height: size(384);

      @include breakpoint(tab992) {
        @include flex-center;
      }

      @include breakpoint(desktop1200) {
        bottom: size(-36);
      }

      @include breakpoint(desktop1600) {
        bottom: size(0);
      }

      @include breakpoint(desktop1800) {
        bottom: size(-36);
      }
    }
  }
}

.trackpackage {
  background: $sectionbg;
  padding: size(48) size(0);
  
  @include breakpoint(tab992) {
    padding: size(80) size(0);
  }

  @include breakpoint(desktop1600) {
    padding: size(124) size(0);
  }

  &-detail {
    @include flex-column;
    gap: size(32);
  
    @include breakpoint(tab992) {
      gap: size(48);
    }
  
    @include breakpoint(desktop1600) {
      gap: size(80);
    }

    .mytrack {
      max-width: size(216);
    }
  }
}

.uppersection {
  background: $sectionbgdark;
  min-height: size(328);
  @include flex-center-vert;

  .upperthumbnail {
    @include w100;
  }
}

.upperinfo {
  @include flex-column;
  gap: size(32);
  padding-bottom: size(80);
  
  @include breakpoint(mobile768) {
    padding-bottom: size(0);
  }
  
  @include breakpoint(desktop1200) {
    gap: size(48);
    max-width: size(554);
  }

  @include breakpoint(desktop1400) {
    gap: size(66);
  }

  .display-6 {
    color: $white;
    font-weight: 600;
    letter-spacing: size(0.44);
    text-align: center;
  
    @include breakpoint(mobile768) {
      text-align: left;
    }
  }
}

.uppersec {
  background: $sectionbgdark;
  min-height: size(320);
  @include flex-center-vert;

  .leftinfo {
    @include w100;
    padding: size(40) size(20) size(0);

    @include breakpoint(tab992) {
      width: 70%;
      padding: size(0) size(20);
      margin-inline: auto;
    }
      
    @include breakpoint(tab992) {
      padding-left: size(80);
      padding-right: size(0);
    }
  
    @include breakpoint(desktop1400) {
      padding-left: size(150);
    }

    .upperinfo {
      max-width: 80%;
      margin-inline: auto;

      @include breakpoint(tab992) {
        max-width: size(704);
        margin: 0;
      }
    }
  }

  .rightinfo {
    @include w100;

    @include breakpoint(tab992) {
      width: 30%;
    }

    &-thumbnail {
      @include w100;
      height: size(220);
      @include flex-center;
      overflow: hidden;
  
      @include breakpoint(mobile768) {
        height: size(350);
      }

      @include breakpoint(tab992) {
        height: auto;
      }
      
      img {
        @include wh100;
      }
    }
  }
}