@use '../global' as *;
@use '../partials' as *;

.shipcontainer {
  min-width: 100%;
  max-width: 100%;
  padding-inline: size(20);
  margin-inline: auto;
  
  @include breakpoint(tab992) {
    padding-inline: size(80);
  }

  @include breakpoint(desktop1400) {
    padding-inline: size(150);
  }
}

.marked {
  color: $primary;
  font-weight: 600;
  letter-spacing: size(0.44);
}

.myimport {
  max-width: size(130);
  margin-inline: auto;

  @include breakpoint(mobile768) {
    max-width: size(180);
    margin: 0;
  }
}

.joininfo {
  max-width: size(140);
}

.getstarted {
  max-width: size(160);
}

.formlabel {
  color: $blacktext;
  font-size: size(14);
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;

  @include breakpoint(desktop1400) {
    font-size: size(16);
  }
}