$time: 350ms;

// DEFAULT COLORS
$white: hsl(0, 0%, 100%); //#ffffff
$black: hsl(0, 0%, 0%); //#000000


// THEME-COLORS
$primary: hsl(217, 100%, 56%); //#2074FF


// BACKGROUND-COLORS
$sectionbg: hsl(213, 100%, 98%); //#F4F9FF
$hoverbg: hsl(217, 100%, 47%); //#005AEF
$sectionbgdark: hsl(240, 30%, 8%); //#0F0F1C

$icon-1-bg: hsl(44, 100%, 93%); //#FFF5DA
$icon-2-bg: hsl(0, 100%, 96%); //#FFEDED
$icon-3-bg: hsl(18, 100%, 95%); //#FFEDE5
$icon-4-bg: hsl(219, 100%, 95%); //#E8F0FF
$icon-5-bg: hsl(120, 100%, 97%); //#F0FFF0
$icon-6-bg: hsl(0, 0%, 95%); //#F3F3F3
$icon-7-bg: hsl(0, 100%, 95%); //#FFE8E8
$icon-8-bg: hsl(151, 100%, 94%); //#DEFFEF

$trackbg: hsl(0, 0%, 94%); //#EFEFEF

// TEXT-COLORS
$bodytext: hsl(0, 0%, 19%); //#303030
$blacktext: hsl(0, 0%, 11%); //#1B1B1B
$placeholdertext: hsl(208, 9%, 59%); //#8C969F
$paginationtext: hsl(224, 15%, 66%); //#9CA3B6

$paid: hsl(168, 98%, 35%); //#02B290
$waiting: #ff9900; //#ff9900

$approved: hsl(209, 80%, 58%); //#4098EA
$inwearhouse: hsl(79, 85%, 59%); //#B7EF40
$shippingprocess: hsl(105, 34%, 50%); //#6BAC55
$bdcustoms: hsl(335, 100%, 72%); //#FF6FAB
$textgray: hsl(0, 0%, 77%); //#C5C5C5

$danger: hsl(354, 70%, 54%); //#dc3545
$success: hsl(152, 69%, 31%); //#198754
$red: hsl(0, 100%, 50%); //#ff0000

// BORDER-COLORS
$headerborder: hsl(210, 35%, 93%); //#E8EEF4
$inputborder: hsl(207, 23%, 92%); //#E7ECF0
$borderinput: hsl(210, 16%, 82%); //#CBD2D9
$tableborder: hsl(210, 17%, 36%); //#4C5C6C
$trackinputborder: hsl(208, 19%, 87%); //#D7DEE4
$trackborder: hsl(0, 0%, 83%); //#D3D3D3

$chossehover-1: hsl(36, 100%, 70%); //#FFC368
$chossehover-2: hsl(0, 95%, 84%); //#FDAFAF
$chossehover-3: hsl(18, 100%, 65%); //#FF834F
$chossehover-4: hsl(219, 100%, 91%); //#CFE0FF
$chossehover-5: hsl(120, 100%, 92%); //#D4FFD4
$chossehover-6: hsl(0, 0%, 86%); //#DCDCDC

$chooseborder-1: hsl(0, 44%, 58%); //#C36565
$chooseborder-2: hsl(18, 100%, 50%); //#FF4C00
$chooseborder-3: hsl(214, 100%, 77%); //#8BBEFF
$chooseborder-4: hsl(119, 100%, 79%); //#98FF96
$chooseborder-5: hsl(0, 0%, 72%); //#B7B7B7


// SHADOWS
$dropshad: rgba(17, 12, 46, 0.15);
$shade-1: rgba(30, 30, 30, 0.05);
$shade-2: rgba(7,37,68, 0.06);


// BOX-SHADOWS
$shadow-1: .25rem .25rem 0rem 0rem $shade-1;
$dropdownshadow: 0rem 3rem 6.25rem 0rem $shade-1;
$dropshadow: .1875rem .125rem .875rem .1875rem $inputborder;
$headershadow: 0 .125rem .25rem $shade-2;
$imageshadow: .25rem .25rem .6875rem 0rem rgba($black, 0.20);