@use "../../global" as *;
@use '../../global' as *;
@use '../../partials' as *;

.header {
  background: $white;
  @include border-single(bottom, solid, 1, $headerborder);
  @include w100;
  height: size(64);
  @include flex-center-vert;

  @include breakpoint(tab992) {
    height: size(100);
  }

  .logo {
    width: size(140);
    height: size(18);
    @include flex-center;

    @include breakpoint(mobile768) {
      width: size(206);
    }

    @include breakpoint(tab992) {
      width: size(207);
      height: size(22);
    }

    img {
      object-fit: contain;
      @include wh100;
    }
  }
}